body  {
  line-height: normal;
  background-color: #b7e8c4;
  font-family: arial;
}

h1 {
  letter-spacing: 5px;
}

h2{
  letter-spacing: 5px;
}

p{
  color: black;
  background-color: white;
  font-size: 14px;
}
